.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 60rem;
  margin: 2rem auto;
  text-align: right;
  animation: form-appear 1s ease-out forwards;
}

.form input {
  width: 100%;
  margin: 0.2rem;
}

.btn {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

@keyframes form-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
